<!DOCTYPE html>
<html>
<head>
  <title>EmberCart</title>
  <%= stylesheet_link_tag    "ember-cart/application", :media => "all" %>
  <%= javascript_include_tag "ember-cart/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
